*{
   
    color: #000000;
    font-style: arial;
}

html, body{
    background-color: #55c1ff;

}

.main-container{
    border: 4px solid #55c1ff;
    border-radius: 25px;
    margin:2rem;
    background-color: hsl(0, 0%, 100%);
    
}